:root {
    --theme-color: #FF5400;
    --heading-color: #131318;
    --white-color: #fff;
    --secondary-color: #5A5A5D;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0 auto;
}

.theme {
    color: var(--theme-color);
}

a {
    text-decoration: none;
}

.title {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 800;
}

.description {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    border-radius: 0.7rem;
    background: #FF5400;
    padding: 1rem 2rem;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* header styles */

header {
    padding: 2rem 5rem;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header>nav>.logo {
    display: flex;
    align-items: center;
    gap: 1rem;

}

header>nav>.logo>h1 {
    color: var(--heading-color);
    font-size: 2.5rem;
    font-weight: 800;
}

header>nav>.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>nav>.menu>.hambarger {
    display: none;
}

header>nav>.menu>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header>nav>.menu>ul>li {
    list-style-type: none;
}

header>nav>.menu>ul>li>a {
    color: var(--secondary-color);
    font-size: 1.1;
    font-weight: 700;
    position: relative;
    padding: 0.5rem;

}

/* banner styles */

.banner-container {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:  500px;

}

.banner-container>.banner-content {
    margin-top: 3rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.banner-container>.banner-content>.banner-title {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
}

.banner-container>.banner-content>.banner-description {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    width: 40rem;
    text-align: center;
}

.banner-container>.banner-content>.input-box {
    border-radius: 0.7rem;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.banner-container>.banner-content>.input-box>#name {
    padding: 1rem;
    border-radius: 0.7rem;
    border: none;
    color: var(--secondary-color);
}

.banner-container>.banner-content>.input-box>#time,
#type {
    padding: 1rem;
    border-radius: 0.7rem;
    border: none;
    outline: none;
    color: var(--secondary-color);
}

.banner-container>.banner-content>.input-box>#time:focus {
    border: none;
}

select>option {
    margin: 1rem;
    padding: 1rem;

}


/* main styles */
main section {
    margin: 5rem;
    padding: 2rem 0rem;
}

/* tour styles */

.tour-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.tour-container>.tour-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    color: var(--secondary-color);
    width: 35rem;
}

.tour-container>.tour-image>img {
    width: 100%;
}

.tour-container>.tour-content>.tour-title {
    color: var(--heading-color);
    font-size: 2.8rem;
    font-weight: 800;
}

.tour-container>.tour-content>.tour-description {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
}

.tour-container>.tour-content>ul {
    margin-left: 1rem;
}




/* destination stles */
.destination-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.destination-container>.destination-title {
    font-size: 2.9rem;
    font-weight: 800;
}

.destination-container>.destination-description {
    width: 40rem;
    font-size: 1rem;
}

.destination-container>.destination-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.destination-container>.destination-items>div {
    position: relative;
}

.destination-container>.destination-items>div>img {
    width: 100%;
}

.destination-container>.destination-items>div>div {
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}


/* choose styles */

.choose-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.choose-container>.choose-title {
    color: var(--heading-color);
    font-size: 2.8rem;
    font-weight: 800;
}

.choose-container>.choose-description {
    color: var(--secondary-color);
    font-size: 1;
    font-weight: 400;
    width: 40rem;
}

.choose-container>.choose-items {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.choose-container>.choose-items>.each-item {
    text-align: start;
    width: 35rem;
    padding: 2rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}

.choose-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* discount styles */
.discount-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.discount-container>.discount-description {
    color: var(--secondary-color);
    font-size: 1rem;
    width: 40rem;
}

.discount-container>.discount-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.discount-container>.discount-items>.discount-each-item {
    position: relative;
}

.discount-container>.discount-items>.discount-each-item>img {
    width: 100%;
}

.discount-container>.discount-items>.discount-each-item>.discount-each-item-content {
    position: absolute;
    right: 3rem;
    top: 6.5rem;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.discount-container>.discount-items>.discount-each-item>.discount-each-item-content>p {
    text-align: start;
    width: 25rem;
}

.discount-container>.discount-items>.discount-each-item>.discount-each-item-content>h1 {
    font-size: 1.3rem;
}

.discount-container>.discount-items>.discount-each-item>.discount-each-item-content>.discount-package {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.discount-container>.discount-items>.discount-each-item>.discount-each-item-content>.discount-package>.individual-package {
    display: flex;
    align-items: center;
}

#discount-reflect>img {
    transform: scaleX(-1);
}

#discount-reflect>.discount-each-item-content {
    left: 3rem;
    top: 6.5rem;
    right: auto;
}

.lostPlace-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.lostPlace-container>div>ul {
    margin-left: 1rem;
    color: var(--heading-color);
    font-weight: 700;
}

.lostPlace-container>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 50%;

}

.lostPlace-container>div>.ytvideo {
    width: 100%;
    height: 315px;
}

.newslatter-container {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.newslatter-container>.newslatter-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newslatter-container>.newslatter-content>.newslatter-title {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 800;

}

.newslatter-container>.newslatter-content>.newslatter-description {
    color: var(--secondary-color);
    font-size: 16px;
}
.newslatter-container>.newslatter-content> input {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    font-size: 14px;
background: rgba(19, 19, 24, 0.05);
}

.newslatter-container>.newslatter-img {
    position: relative;
}

.newslatter-container>.newslatter-img>button {
    position: absolute;
    right: 0.5rem;
    bottom: 3rem;
    transform: rotate(-20deg);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.5rem;
}

.newslatter-container>.newslatter-img>button>.save {
    font-weight: 800;
}


footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem ;
    background: rgba(19, 19, 24, 0.05);
}

footer > .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
footer > .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    font-size: 20px;
    padding: 1rem;
    border-bottom: 1px solid  rgba(19, 19, 24, 0.10);;
}



@media screen and (max-width: 600px) {

    .title{
        font-size: 1.1rem;
    }

    header {
        padding: 1rem;
    }

    header>nav>.logo {
        gap: 0.5rem;
    }

    header>nav>.logo>h1 {
        font-size: 1.2rem;

    }

    header>nav>.logo>img {
        width: 1.7rem;
    }

    header>nav>.menu>.hambarger {
        display: block;
    }

    header>nav>.menu>ul {
        display: none;
    }

    /* banner styles */
    .banner-container {
        margin-top: 2rem;

    }

    .banner-container>.banner-content {
        justify-content: end;
        gap: 1rem;
    }

    .banner-container>.banner-content>.banner-title {
        font-size: 1.3rem;
    }

    .banner-container>.banner-content>.banner-description {
        width: 20rem;
    }

    .banner-container>.banner-content>.input-box {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    main>section {
        margin: 2rem 1rem;
    }

    .tour-container {
        flex-direction: column;
        align-items: start;
    }

    .tour-container>.tour-content {
        width: 100%;
    }

    .tour-container>.tour-image {
        width: 100%;
    }

    .tour-container>.tour-content>.tour-title {
        font-size: 1.2rem;
        font-weight: 800;
    }

    .destination-container {
        width: 100%;
        align-items: start;

        overflow: hidden;
        margin: 0px auto;
        padding: 1rem;
    }

    .destination-container>.destination-title {
        font-size: 1.1rem;

    }

    .destination-container>.destination-description {
        width: 100%;
        text-align: start;
        font-size: .9rem;
    }

    .destination-container>.destination-items {
        flex-direction: column;
    }

    .destination-container>.destination-items>div {
        width: 100%;
    }

    .destination-container>.destination-items>div>img {
        width: 100%;
    }

    .choose-container {
        align-items: start;
        text-align: start;


    }

    .choose-container>.choose-title {
        font-size: 1.1rem;
    }


    .choose-container>.choose-description {
        font-size: 0.9rem;
        width: 100%;
    }

    .choose-container>.choose-items {
        width: 100%;
    }

    .discount-container {
        align-items: start;
        text-align: start;
    }

    .discount-container>.title {
        font-size: 1.1rem;
    }

    .discount-container>.discount-description {
        width: 100%;
    }

    .discount-container>.discount-items>.discount-each-item {
        height: 100vh;


    }

    .discount-container>.discount-items>.discount-each-item>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .discount-container>.discount-items>.discount-each-item>.discount-each-item-content>p {
        width: 100%;
    }

    .discount-container>.discount-items>.discount-each-item>.discount-each-item-content>.discount-package {
        flex-wrap: wrap;
    }

    .discount-container>.discount-items>.discount-each-item>.discount-each-item-content {
        top: auto;
        left: auto;
        right: auto;
        bottom: 2rem;
        padding: 1rem;
        margin: 1rem;
    }

    #discount-reflect>img {
        transform: scaleX(1);
    }

    #discount-reflect>.discount-each-item-content {
        top: auto;
        left: auto;
        right: auto;
        bottom: 2rem;
        padding: 1rem;
        margin: 1rem;
    }

    .discount-container>.btn {
        margin: 0 auto;
    }

    .lostPlace-container {
        flex-direction: column;
    }

    .lostPlace-container>div {
        width: 100%;
    }

    .lostPlace-container>div>.ytvideo {
        width: 100%;
    }
    .newslatter-container{
        flex-direction: column;
    }
    .newslatter-container > div{
        width: 100%;

    }
    .newslatter-container > div >img{
        width: 100%;
    }
    .newslatter-container > div > .btn{
        font-size: 1rem;
        bottom: 2rem;
    }

    footer{
        padding: 1rem;
        gap: 0.5rem;
    }
    footer> .logo > h1{
        font-size: 1.1rem;
    }
    footer> .logo > img{
        width: 40px;
    }
}